<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>

      body {
        margin: 0;
        padding: 0;
        background: rgb(222, 222, 222);
      }

      h1 {
        margin-top : 0
      }

      .corps {
        padding-top :15px;
        padding-bottom: 100vw;
        font-family: Century Gothic, sans serif;
        text-align: center;
        margin: 0 20%;
        background-color: white;
      }
      .input {
        width: 80%;
        height: 20px;
        overflow-wrap: break-word;
      }
      .inputButton {
        margin-top: 2vw;
      }
      #result {
        text-align: justify;
        margin: 0 5%;
            }
    </style>
    <div class="corps">
      <h1>Paul</h1>
      <form id="formulaire">
        <input class="input" type="text" name="prompt" />
        <br />
        <input class="inputButton" type="submit" />
      </form>

      <p id="result"> </p>

      <h1>Générer une image</h1>
      <form id="formulaireImg">
        <input class="input" type="text" name="prompt" />
        <br />
        <input class="inputButton" type="submit" />
      </form>

      <img src="" id="img"/>

      <script>
        async function getPrompt(prompt) {
          const req = await fetch(`/complete?prompt=${encodeURI(prompt)}`);
          const result = await req.text();
          document.getElementById("result").innerText = result;
        }

        async function getImage(prompt) {
          const req = await fetch(`/image?prompt=${encodeURI(prompt)}`);
          const result = await req.text();
          document.getElementById("img").src = result;
        }

        document.addEventListener("DOMContentLoaded",  () => {
          const formulaire = document.getElementById("formulaire");

          formulaire.addEventListener("submit", (e) => {
            e.preventDefault();
            const prompt = document.querySelector(
              `#formulaire input[name="prompt"]`
            );

            getPrompt(prompt.value);
          });
        });
        
        document.addEventListener("DOMContentLoaded",  () => {
          const formulaireImg = document.getElementById("formulaireImg");

          formulaireImg.addEventListener("submit", (e) => {
            e.preventDefault();
            const prompt = document.querySelector(
              `#formulaireImg input[name="prompt"]`
            );

            getImage(prompt.value);
          });
        });
      </script>
    </div>
  </body>
</html>
